@model Knith_Horizon.Models.AttendIntegrity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttendIntegrity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckFDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Eno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
